#fond{
    -fx-background-color : #2e6da4;
}

#label{
    -fx-background-color: white;
    -fx-text-fill: darkblue;
    -fx-border-color: #2e6da4;
}

#return{
    -fx-background-color: black;
}

#torpilleur{
    -fx-background-color: lightgrey;
}

#contreTorpilleur1{
    -fx-background-color: darkgrey;
}

#contreTorpilleur2{
    -fx-background-color: grey;
}

#croiseur{
    -fx-background-color: dimgrey;
}
#porte_avion{
    -fx-background-color: darkslategrey;
}

#touche{
    -fx-background-color: red;
}

#coule{
    -fx-background-color: black;
}